/* Styles for devices with a screen width of 600 pixels or less */
@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
    /* Additional styles specific to small screens */
  }
  
  /* Styles for devices with a screen width between 601 and 900 pixels */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
      font-size: 16px;
    }
    /* Additional styles specific to medium screens */
  }
  
  /* Styles for devices with a screen width greater than 900 pixels */
  @media only screen and (min-width: 901px) {
    body {
      font-size: 18px;
    }
    /* Additional styles specific to large screens */
  }
                                      /*SCREEN SICES*/

                                    
    b {color: beige; text-shadow: 2px 2px rgb(0, 0, 0);}
   button{color: black;}
  .prodectes {margin-top: 1%;}